<div class="group">
  <%= f.label :name %><%= f.error_message_on :name %>
  <%= f.text_field :name, :class => :text_field %>
  <span class="description">Channel Name</span>
</div>
<div class="group">
  <%= f.label :mode %><%= f.error_message_on :mode %><br/>
	<%= f.radio_button :mode, :value => 'html'  %><%= f.label :mode_html, :caption => 'HTML Block'  %><br/>
	<%= f.radio_button :mode, :value => 'twitter'  %><%= f.label :mode_twitter, :caption => "Twitter" %><br/>
	<%= f.radio_button :mode, :value => 'rss', :disabled => true  %><%= f.label :mode_rss, :caption => "Piped RSS" %><br/>
  <span class="description">Select the mode for your channel.</span>
</div>
<div class="group">
  <%= f.label :html %><%= f.error_message_on :html %>
  <%= f.text_area :html, :class => :text_area %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :twitter %><%= f.error_message_on :twitter %>
  <%= f.text_field :twitter, :class => :text_field %>
  <span class="description">Twitter search string for jquery livetwitter plugin. Example usage: <pre>'collectiveidea', {mode: 'user_timeline', rate: 120000}</pre> See: <a href="https://github.com/elektronaut/jquery.livetwitter" target="_blank">LiveTwitter plugin GitHub documentation</a> for more examples. Be sure to use proper rate limiting for user timelines.</span>
</div>
<div class="group">
  <%= f.label :rss %><%= f.error_message_on :rss %>
  <%= f.text_field :rss, :class => :text_field, :disabled => true %>
  <span class="description">Ex: not implemented yet, don't use</span>
</div>

<div class="group navform wat-cf">
  <%= f.submit pat(:save), :class => :button %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:channels, :index)}';return false", :class => :button %>
</div>
