<!doctype html>
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/i/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">



  <%= stylesheet_link_tag :style %>
  <%= javascript_include_tag :jquery, "jquery.livetwitter", "jquery.cycle", :application %>
  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->


</head>
<body>
	<div id="wrapper">
    
    <div id="background">
        <video src="http://bss.bluesky120.webfactional.com/wp-content/uploads/2012/04/movielow.mov" autoplay loop width="1920" height="1080" ></video>
    </div>
    
    <div id="smudge"><img src="/images/smudge.png"></div>

    <div id="logos"><img src="/images/logos.png"></div>

        <article id="main">
    		<section id="intro">
    		
    			<div class="clock">
    			   <div id="Date"></div>
    			      <ul>
    			          <li id="hours"></li>
    			          <li id="point">:</li>
    			          <li id="min"></li>
    			          <li id="point">:</li>
    			          <li id="sec"></li>
    			      </ul>
    			</div>
    			
    			
    			<ul id="welcome-list">
    				<li>Welcome</li>
    				<li>ようこそ</li>
    				<li>Bienvenue</li>
    				<li>Willkommen</li>
    				<li>Bienvenido</li>
    				<li>Benvenuto</li>
    				<li>Добро пожаловать</li>
    				<li>Witamy</li>
    				<li>Bem-vindo</li>
    				<li>Välkommen</li>ls
    				<li>Tervetuloa</li>
    				<li>Velkommen</li>
    				<li>Welkom</li>
    				<li>欢迎</li>
    				<li>歡迎</li>
    				<li>환영</li>
    			</ul>
    			<div id="res">
				</div>
    		</section><!-- #intro -->
        </article><!-- #main -->
        
        <article id="work">
    		<section class="blog">
    			<%= partial "channels/payload", :locals => { :channel => @ws } %>
    		</section><!-- #blog -->
        </article><!-- #work -->
    	
    	<article id="blue">
            <section class="message">
    			<%= partial "channels/payload", :locals => { :channel => @bs } %>
    		</section> <!-- #message -->
    	</article><!-- #blue -->
    
        <article id="idea">
    		<section id="tweet">
    			<%= partial "channels/payload", :locals => { :channel => @ci } %>
    		</section><!-- #idea -->
    	</article><!-- #tweet -->

    </div>
</body>
</html>